/* admin dashboard stylesheet */

body {
    margin: 0;
    font-family: "Roboto", 'Times New Roman', Times, serif;
}

/* fonts licence in  https://www.fontsquirrel.com/license/roboto */

@font-face {
    font-family: "Roboto";
    src: url("fonts/RobotoSlab-Regular.ttf");
    font-weight: regular;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/RobotoSlab-Bold.ttf");
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-areas:
        'sidebar header header'
        'sidebar projects announcements'
        'sidebar projects announcements';
    height: 100vh;
}

.projects,
.announcements,
.trending,
input {
    background-color: #e2e8f0;
}

.sidebar,
.main-buttons {
    background-color: #3b82f6;
    color: white;
}

.header,
.card,
.announcements-list,
.trending-list {
    box-shadow: 0.5em 0.5em 0.5em lightgrey;
}

ul {
    list-style: none;
}

button {
    width: 60px;
}

p {
    margin: 0.75ch;
}

h4 {
    font-size: 20px;
}

input {
    width: 80%;
    height: 32px;
    border-style: none;
    border-radius: 6px;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 9fr;
}

.logo img {
    width: 75px;
}

.panel img {
    width: 50px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: max(20px, 5%);
    padding-left: 20px;
}


.filter-white {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(80deg) brightness(108%) contrast(106%);
}


.panel ul {
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    align-content: space-evenly;
    gap: 20px;
}

.panel li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: max(20px, 5%);
    padding-left: 0px;
}


.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 2fr 3fr;
    grid-template-areas:
        'search notifications'
        'user-info functions';
}

.search {
    grid-area: search;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: max(3%, 20px);
}

.notifications {
    grid-area: notifications;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: max(5%, 30px);
    padding-right: max(10%, 60px);
}

#bell, #lupa {
    width: 40px;
}

.user-info {
    grid-area: user-info;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: max(10%, 40px);
    gap: max(5%, 30px);
}

.greeting p {
    font-weight: bold;
}

#user-icon, #tegan-icon, #kendall-icon, #alex-icon {
    width: 75px;
    height: 75px;
    background-size: cover;
    background-position: center;
    border-radius: 50%; /* circular */
    border-style: none;
}

#user-icon {
    background-image: url('profile_pics/sunset_pic.jpg');
}

#tegan-icon {
    background-image: url('profile_pics/bike_ride_pic.jpg');
}

#kendall-icon {
    background-image: url('profile_pics/stairs_child_pic.jpg');
}

#alex-icon {
    background-image: url('profile_pics/water_pic.jpg');
}

.user-info #user-icon {
    width: 120px;
    height: 120px;
}

.greeting {
    
}

.functions {
    grid-area: functions;
    display: flex;
    gap: 30px;
    align-items: center;
    padding-right: max(30px, 5%);
}

.main-buttons {
    padding: 10px 20px;          /* Standard padding */
    width: 140px;
    height: 60px;
    border: none;                /* No border */
    border-radius: 32px;          /* Rounded edges */
    font-size: 20px;             /* Standard font size */
    font-weight: bold;
    text-align: center;          /* Center the text */
    cursor: pointer;             /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

.main-buttons:hover {
    background-color: darkblue;  /* Change color on hover */
}


.projects {
    grid-area: projects;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 2px;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 50px;
}

.card {
    background-color: white;
    width: 90%;
    height: 90%;
    padding-left: 2ch;
    padding-top: 3ch;
    border-left: 0.4rem solid orange;
    border-radius: 1ch;
}

.card-title {
    font-weight: bold;
}

.card-options {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 30px;
}

.card-options button {
    background-color: white;
    border-style: none;
}

.card-options img {
    width: 30px;
}

.announcements {
    grid-area: announcements;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-right: 20px;
    gap: 2px;
}

.announcements-list {
    background-color: white;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding-top: 1ch;
    border-radius: 0.5rem;
    gap: 20px;
}

.announce {
    border-bottom: 2px solid #e2e8f0;
    padding: 1ch 2ch;
}

.trending-list {
    background-color: white;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 2ch;
    border-radius: 0.5rem;
    gap: 30px;
}

.trending-user {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

